<% provide(:title, "Overwatch Guide") %>

<h1>Overwatch Guide</h1>
<p>Welcome to our Overwatch Guide. This was a pet project that is supposed to be a game knowledge guide for
  the game Overwatch by Blizzard. Hope you enjoy.</p>

